* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0e1217;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  transition: 0.3s;
}

a:hover {
  opacity: 1;
}

p {
  color: #09abb3;
}
