body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

div {
  text-align: center;
}

h1 {
  background-color: #6000ea;
  color: #fff;
  margin: 0;
  padding: 15px;
}

select {
  margin: 15px;
  padding: 8px;
}

.timezone {
  margin: 12px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
