* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.carousel {
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slide {
  opacity: 0;
  position: absolute;
  width: 100%;
  transform: opacity 1s;
}

.slide.active {
  opacity: 1;
  position: relative;
}

.slide img {
  width: 100%;
}

.indicators {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6e6b6b;
  margin: 0 5px;
  transition: background 0.3s;
}

.indicator.active {
  background-color: #fff;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 10px;
  border: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
